@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    border: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:visited {
    color: white;
}

h1.has_green_text {
    color: darkgreen;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a.vegetarian_tacos {
    color: forestgreen;
    font-weight: bold;
}

.hasboldtext {
    font-weight: bold;
}

body {
    grid-template-columns: 4fr;
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: mediumseagreen;
    font-weight: bold;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px, solid, black;
    background-color: coral;
    color: white !important;
}

header {
    color: white;
}

.grid_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-auto-rows: auto;
    grid-auto-flow: initial;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.box3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

.box4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.box5 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.box6 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.box7 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

.detailsgrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-auto-rows: auto;
    grid-auto-flow: initial;
}

tr:nth-child(even) {
    background-color: lightgray;
}
